body {
  font-family: "Skranji", sans-serif;
}

/* Navigation Bar for other pages*/
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.box {
  position: absolute;
  top: 60%;
  right: 250px;
  width: 45%;
}

.haff {
  font-size: 5rem;
}

/* This will be used as a divider for the page */

hr.solid {
    border-top: 5px solid #000000;
  }