body {
  font-family: "Skranji", serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.box {
  border: 3px solid gray;
  position: absolute;
  top: 60%;
  right: 50px;
  width: 45%;
}

p {
  text-indent: 50px;
  font-size: 1.5rem;
  text-align: justify;
  letter-spacing: 3px;
}

hr.solid {
    border-top: 5px solid #000000;
  }