body {
  display: grid;
  place-items: center;
  height: 10vh;
  margin: 0;
  padding: 0;
  background-color: #2C2C2C;
  color: white;
  user-select: none;
  font-family: "Skranji", serif;
}

h1 {
  text-align: center;
}

/* Navigation Bar for other pages*/
.topnav {
  overflow: hidden;
  background-color: #383434;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.main {
  display: flex;
  gap: 200px;
}

.left h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

/* Donut image that will be used for the Donut Clicker*/
.donut-image {
  width: 500px;
}

.donut-image:hover {
  opacity: 0.9;
  cursor: pointer;
}

.donut-image:active {
  opacity: 0.8;
  transform: scale(1.02)
}

/* This will show what the upgrade buttons will look like */
.upgrade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 4px solid white;
  border-radius: 5px;
  height: 60px;
  width: 330px;
  position: relative;
  margin-bottom: 30px;
}

.upgrade:hover {
  opacity: 0.85;
  cursor: pointer;
}

.upgrade-img {
  width: 55px;
}

/* Donut images that will be next to the cost of the levels*/
.donut-img {
  width: 20px;
  height: 20px;
}

.mid-section h4 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

.mid-section p {
  margin: 0;
}

/* Showcases the number of the cost portrayed to the level */
.cost-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.next-level-info {
  position: absolute;
  right: -100px;
  background-color: rgb(90, 89, 90);
  height: 80px;
  width: 100px;
  text-align: center;
  display: none;
}

.upgrade:hover .next-level-info {
  display: block;
}

/* This will show the stats of how much GPC or GPS is used when clicking on the levels */
.statistics {
  position: absolute;
  bottom: 0;
  width: 400px;
  padding: 30px;
  border: 2px white solid;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  left: 50%
  transform: translate(-50%);
}

.texts {
  display: flex;
  gap: 100px;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
}